.footerContainer {
  background-color: rgb(3, 44, 44);
  text-align: center;
  color: #fff;
  padding-bottom: 2rem;
}

.footerContainer .copyright {
  margin-bottom: .2rem;
  color: #fff;
  padding-top: 10px;
}
